.users-list {
  padding: 0 10px;
  overflow: auto;
}

.pointer {
  cursor: pointer;
}

.mr-bm-20 {
  margin-bottom: 20px;
}

.mr-l-10 {
  margin-left: 10px;
}

.mr-r-10 {
  margin-right: 10px;
}

.wt-120 {
  width: 120px;
}

.wt-200 {
  width: 200px;
}

.wt-40 {
  width: 40px;
}

.filters-block {
  padding-bottom: 20px;
  flex-direction: column;
}

.filter-btn {
  background-color: #f0f0f0;
  color: black;
}

.label-text {
  font-size: 10px;
  margin-bottom: 3px;
}

.ant-table-column-sorters {
  display: flex;
  align-items: center;
}

.ant-table-column-sorter-full {
  display: none;
}
